**/generated.css
*.log
.DS_Store
.envrc
.infracost/
.pluralith/
.serverless/
.terraform.lock.hcl
.terraform/
/*.html
__pycache__/
generated/
lambda_function_payload.zip
node_modules/
pdfs/
poetry-version.json
scripts/
tmp/
