source /Users/chisel/development/github-as-chizmw/.envrc

export TF_CLI_ARGS_init="-backend-config='encrypt=true' -backend-config='key=chizmw/botc-custom-script-json2pdf-436158765452-botc-json2pdf.tfstate' -backend-config='bucket=436158765452-terraform-state'"
export TF_CLI_ARGS_init="-backend-config='encrypt=true' -backend-config='key=chizmw/botc-custom-script-json2pdf-436158765452-botc-json2pdf.tfstate' -backend-config='bucket=436158765452-terraform-state'"
