/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Fira Sans', sans-serif;
  line-height: 1.6;
  background-color: #0b1317;
  color: #333;
  padding: 20px;
  text-rendering: optimizeLegibility;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 2.2em;
  margin-bottom: 20px;
}

/* Links */
a {
  color: #1c87c9;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Containers */
.container {
  max-width: 800px;
  margin: 0 auto;
}

/* Navigation */
div .nav {
  background-color: #333;
  padding: 5px;
}

div .nav ul {
  list-style-type: none;
}

div .nav ul li {
  display: inline;
  margin-right: 10px;
}

div .nav ul li a {
  color: #fff;
  font-size: 0.9em;
}

/* Main Content */
div .article {
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
}

div .article img {
  max-width: 100%;
  height: auto;
}

div .article p {
  margin-bottom: 10px;
}

div .article div {
  margin-left: 20px;
}

/* Footer */
footer {
  text-align: center;
  margin-top: 20px;
}

.dropzone {
  background: white;
  border-radius: 5px;
  border: 2px dashed rgb(0, 135, 247);
  border-image: none;
  min-width: 210px;
  max-width: 520px;
  margin-left: auto;
  margin-right: auto;
}

.dropzone:hover {
  border: 4px dashed rgb(0, 135, 247);
  background-color: #e0e0e0;
}

.float-left {
  float: left;
}

.leadin-image {
  width: 100px;
  height: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.background-container {
  background-color: #3a6b3a; /* Set your desired background color here */
}

.background-image {
  background-image: url('images/background.png');
  background-size: 100% auto; /* Scale the image to 100% width and auto height */

  background-position: top;
  /* Adjust the following properties as needed */
  background-repeat: no-repeat;
  height: 100vh; /* Set the height of the background div */
  width: 100%; /* Set the width of the background div */
}

.footer {
  position: center bottom;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 5px;
  background-color: #efefef;
  text-align: center;
  font-size: small;
}

@media (max-width: 768px) {
  .background-image {
    background-position: center bottom;
    background-size: 100%;
  }
}

div.ul-options {
  font-size: smaller;
  border-width: 0.5px;
  border-style: dashed;
  border-color: #333;
  padding: 3px;
}
