    <!-- First Night Info -->
    <p style="page-break-before: always" ></p>

    <header>
      <div class="top-left-header">
        <!-- Your top-left header content here -->
        <h1>First Night</h1>
      </div>
      <div class="top-right-header">
        <!-- Your top-right header content here -->
        <h1>{{ title }}</h1>
      </div>
    </header>

    <!-- First Night Info -->
      <div class="role-container">
        {%- for role in first_night %}
        <div class="night-role-block">
          <img src="{{role.remote_image}}" alt="{{ role.name }}" class="role-icon-nightinfo"/>
          <div class="night-role-info">
            <div class="night-role-title-line">
              <div class="role-name role-name-{{role.team}}">{{ role.name }}</div>
              <div class="role-ability-reminder">{{ role.ability }}</div>
            </div>
            <div class="night-role-reminder">{{ role.first_night_reminder }}</div>
          </div>
        </div>
        {%- if not loop.last %}
          <div class="line-nightinfo"></div>
        {%- endif %}
        {%- endfor %}
    </div>

    {# if we have at most 15 items in first_night #}
    {% if first_night|length <= 15 %}
      {% include 'night-extras.jinja' %}
    {% endif %}

    <!-- Other Night Info -->
    <p style="page-break-before: always" ></p>

    <header>
      <div class="top-left-header">
        <!-- Your top-left header content here -->
        <h1>Other Nights</h1>
      </div>
      <div class="top-right-header">
        <!-- Your top-right header content here -->
        <h1>{{ title }}</h1>
      </div>
    </header>

    <!-- Other Night Info -->
      <div class="role-container">
        {%- for role in other_nights %}
        <div class="night-role-block">
          <img src="{{role.remote_image}}" alt="{{ role.name }}" class="role-icon-nightinfo"/>
          <div class="night-role-info">
            <div class="night-role-title-line">
              <div class="role-name role-name-{{role.team}}">{{ role.name }}</div>
              <div class="role-ability-reminder">{{ role.ability }}</div>
            </div>
            <div class="night-role-reminder">{{ role.other_night_reminder }}</div>
          </div>
        </div>
        {%- if not loop.last %}
          <div class="line-nightinfo"></div>
        {%- endif %}
        {%- endfor %}
</div>

    {# if we have at most 15 items in other_nights #}
    {% if other_nights|length <= 15 %}
      {% include 'night-extras.jinja' %}
    {% endif %}

  </body>
</html>
