    <!-- First Night Info -->
    <p style="page-break-before: always" ></p>

    <header>
      <div class="top-left-header">
        <!-- Your top-left header content here -->
        <h1>First Night</h1>
      </div>
      <div class="top-right-header">
        <!-- Your top-right header content here -->
        <h1>{{ title }}</h1>
      </div>
    </header>

    <!-- First Night Info -->
    {%- for character in first_night %}
      <div class="character-block character-block-nightinfo">
        <img src="{{character.remote_image}}" alt="{{ character.name }}" class="character-icon-nightinfo"/>
        <span class="character-name character-name-{{ character.team }}">{{ character.name }}</span>
        <span class="character-ability-reminder">{{ character.ability }}</span>
        <div class="character-reminder">{{ character.first_night_reminder }}</div>
      </div>

      {%- if not loop.last %}
        <div class="line-nightinfo"></div>
      {%- endif %}
    {%- endfor %}

    {# if we have at most 15 items in first_night #}
    {% if first_night|length <= 15 %}
      {% include 'night-extras.jinja' %}
    {% endif %}

    <!-- Other Night Info -->
    <p style="page-break-before: always" ></p>

    <header>
      <div class="top-left-header">
        <!-- Your top-left header content here -->
        <h1>Other Nights</h1>
      </div>
      <div class="top-right-header">
        <!-- Your top-right header content here -->
        <h1>{{ title }}</h1>
      </div>
    </header>

    <!-- Other Night Info -->
    {%- for character in other_nights %}
      <div class="character-block character-block-nightinfo">
        <img src="{{character.remote_image}}" alt="{{ character.name }}" class="character-icon-nightinfo"/>
        <span class="character-name character-name-{{ character.team }}">{{ character.name }}</span>
        <span class="character-ability-reminder">{{ character.ability }}</span>
        <div class="character-reminder">{{ character.other_night_reminder }}</div>
      </div>

      {%- if not loop.last %}
        <div class="line-nightinfo"></div>
      {%- endif %}
    {%- endfor %}

    {# if we have at most 15 items in other_nights #}
    {% if other_nights|length <= 15 %}
      {% include 'night-extras.jinja' %}
    {% endif %}

  </body>
</html>
