<!-- Maybe Fabled On The Night Info Sheet-->
{%- if fabled %}
  <div class="line-prefabled-nightinfo"></div>
  <h2 class="character-type character-type-fabled">{{ "fabled" | upper }}</h2>
  <div class="cols-3">
  {%- for role in fabled %}
      <div class="fabled-reminder-block">
        <img src="{{role.remote_image}}" alt="{{ role.slug_id }}" class="night-icon fabled-night-icon"/>
        <span class="character-name character-name-night character-name-{{ role.team }}">{{ role.name }}</span>
        <span class="fabled-night-ability">{{ role.ability }}</span>
      </div>
  {%- endfor %}
  </div>
{%- endif %}
