<!-- Maybe Travelers On The Night Info Sheet-->
{%- if travelers %}
  <div class="line-pretraveler-nightinfo"></div>
  <h2 class="character-type character-type-traveler">{{ "travelers" | upper }}</h2>
  <div class="cols-3">
  {%- for role in travelers %}
      <div class="traveler-reminder-block">
        <img src="{{role.remote_image}}" alt="{{ role.slug_id }}" class="night-icon traveler-night-icon"/>
        <span class="character-name character-name-night character-name-{{ role.team }}">{{ role.name }}</span>
        <span class="traveler-night-ability">{{ role.ability }}</span>
      </div>
  {%- endfor %}
  </div>
{%- endif %}
