<!-- Maybe Jinxes On The Night Info Sheet-->
{%- if hate_pair %}
  <div class="line-prejinx-nightinfo"></div>
  <h2 class="character-type character-type-jinx">{{ "jinxes" | upper }}</h2>
  <div class="cols-3">
  {%- for tag, reason in hate_pair.items() %}
    <div class="jinx-night-icon">
      {%- set slugs = tag.split("-") %}
      {%- for slug in slugs %}
        <img src="{{role_data.get_role(slug).remote_image}}" alt="{{ reason }}" class="night-icon"/>
      {%- endfor %}
    </div>
    <div class="jinx-simple-night-reason">{{ reason }}</div>
  {%- endfor %}
  </div>
{%- endif %}
