{# this file shows a summary of selected options in the page footer #}
{%- set options = [] -%}

{%- if script_options.paper_size -%}
{%- set tmp = options.append(script_options.paper_size |capitalize) -%}
{%- endif %}

{%- if script_options.pdf_format == "easyprint" %}
    {%- set tmp = options.append('EasyPrint') -%}
{%- endif %}

{%- if script_options.pdf_format == "sample" %}
    {%- set tmp = options.append('Sample') -%}
{%- endif %}

{# if we have easyprint OR sample #}
{% if multipage_activated %}
    {# we only need to show these if we ARE doing EasyPrint/Sample #}
    {%- if script_options.double_sided -%}
    {%- set tmp = options.append('2-Sided') -%}
    {%- else -%}
    {%- set tmp = options.append('1-Sided') -%}
    {%- endif -%}

    {%- if script_options.player_night_order -%}
    {%- set tmp = options.append('PlayerNightOrder') -%}
    {%- endif -%}

    {%- if script_options.simple_night_order -%}
    {%- set tmp = options.append('CompactNightOrder') -%}
    {%- endif -%}

    {%- if script_options.player_count -%}
    {%- set tmp = options.append(script_options.player_count ~ "PeopleTown") -%}
    {%- endif -%}

{%- endif -%}

[{{ options|join(', ') }}]
