{#- if we aren't the first page, then we need a fresh start after a page break #}
{%- if not the_loop.first -%}
<p style="page-break-before: always" ></p>
{%- endif -%}

<div class="heading-container">
  {% if meta.author %}
  <span class="author-presents">{{meta.author}} presents…</span>
  {% endif %}
  <div class="spacer"></div> <!-- The new spacer div -->
  <h1 class="script-title">{{ title }}</h1>
</div>


{%- for type in characters %}
  {%- set type_plural = type + 's' if type != 'townsfolk' else type %}

  <h2 class="role-type role-type-{{type}}">{{ type_plural | upper }}</h2>
  <div class="role-container">
    {%- for role in characters[type] %}
    <div class="role-block">
      <img src="{{role.remote_image}}" alt="{{ role.name }}" class="role-icon" />
      <div class="role-info">
        <div class="role-name role-name-{{type}}">
          {{ role.name }}
        </div>
        <div class="role-ability">
          {{ role.ability }}
        </div>
      </div>
    </div>
    {%- endfor %}
  </div>

  {%- if not loop.last %}
    <div class="line"></div>
  {%- endif %}
{%- endfor %}

<div class="not-first-night">* Not on the first night</div>
