{#- if we aren't the first page, then we need a fresh start after a page break #}
{%- if not the_loop.first -%}
<p style="page-break-before: always" ></p>
{%- endif -%}

<div class="heading-container">
  {% if meta.author %}
  <span class="author-presents">{{meta.author}} presents…</span>
  {% endif %}
  <div class="spacer"></div> <!-- The new spacer div -->
  <h1 class="script-title">{{ title }}</h1>
</div>


{%- for type in characters %}
  {%- set type_plural = type + 's' if type != 'townsfolk' else type %}

  <h2 class="character-type character-type-{{type}}">{{ type_plural | upper }}</h2>
  <div class="cols-2">
    {%- for character in characters[type] %}
      <div class="character-block character-block-player">
        <img src="{{character.remote_image}}" alt="{{ character.name }}" class="character-icon"/>
        <div class="character-name character-name-{{type}}">
          {{ character.name }}
        {%- if hatred[character.id_slug] %}
          <div class="jinxes">
            <span class="jinxes-label-text">JINXES</span>
            {%- for hater in hatred[character.id_slug] %}
              <img src="{{hater.remote_image}}" alt="{{ hater }}" class="hatred-icon"/>
            {%- endfor %}
          </div>
        {%- endif %}
        </div>
        <div class="character-ability">{{ character.ability }}</div>
      </div>
    {%- endfor %}
  </div>

  {%- if not loop.last %}
    <div class="line"></div>
  {%- endif %}
{%- endfor %}

<div class="not-first-night">* Not on the first night</div>
