<!DOCTYPE html>
<html>
  <head lang="en">
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="file://{{template_folder}}/style.css">
  </head>
  <body>
    <h1 class="script-title">{{ title }}</h1>
    {%- set _dummy = characters.pop('fabled') %}

    {%- for type in characters %}
      {%- set type_plural = type + 's' if type != 'townsfolk' else type %}

      <h2 class="character-type character-type-{{type}}">{{ type_plural | upper }}</h2>
      <div class="cols-2">
        {%- for character in characters[type] %}
          <div class="character-block character-block-player">
            <img src="file://{{icon_folder}}/{{character.id_slug}}.png" alt="{{ character.name }}" class="character-icon"/>
            <div class="character-name character-name-{{type}}">
              {{ character.name }}
            {%- if hatred[character.id_slug] %}
              <div class="jinxes">
                <span class="jinxes-label-text">JINXES</span>
                {%- for hater in hatred[character.id_slug] %}
                  <img src="file://{{icon_folder}}/{{hater}}.png" alt="{{ hater }}" class="hatred-icon"/>
                {%- endfor %}
              </div>
            {%- endif %}
            </div>
            <div class="character-ability">{{ character.ability }}</div>
          </div>
        {%- endfor %}
      </div>

      {%- if not loop.last %}
        <div class="line"></div>
      {%- endif %}
    {%- endfor %}

    <div class="not-first-night">* Not on the first night</div>

    <footer>
      <div class="footer-left">
        This script is not affiliated with The Pandemonium Institute.
      </div>
      <div class="footer-right">
        Generated by Chisel's Scripty Thingy (v{{ _project._version }})
      </div>
    </footer>

    <!-- First Night Info -->
    <p style="page-break-before: always" ></p>

    <header>
      <div class="top-left-header">
        <!-- Your top-left header content here -->
        <h1>First Night</h1>
      </div>
      <div class="top-right-header">
        <!-- Your top-right header content here -->
        <h1>{{ title }}</h1>
      </div>
    </header>

    {%- for character in first_night %}
      <div class="character-block character-block-nightinfo">
        <img src="file://{{icon_folder}}/{{character.id_slug}}.png" alt="{{ character.name }}" class="character-icon-nightinfo"/>
        <span class="character-name character-name-{{ character.team }}">{{ character.name }}</span>
        <span class="character-ability-reminder">{{ character.ability }}</span>
        <div class="character-reminder">{{ character.first_night_reminder }}</div>
      </div>

      {%- if not loop.last %}
        <div class="line-nightinfo"></div>
      {%- endif %}
    {%- endfor %}


    <!-- Other Night Info -->
    <p style="page-break-before: always" ></p>

    <header>
      <div class="top-left-header">
        <!-- Your top-left header content here -->
        <h1>Other Nights</h1>
      </div>
      <div class="top-right-header">
        <!-- Your top-right header content here -->
        <h1>{{ title }}</h1>
      </div>
    </header>

    {%- for character in other_nights %}
      <div class="character-block character-block-nightinfo">
        <img src="file://{{icon_folder}}/{{character.id_slug}}.png" alt="{{ character.name }}" class="character-icon-nightinfo"/>
        <span class="character-name character-name-{{ character.team }}">{{ character.name }}</span>
        <span class="character-ability-reminder">{{ character.ability }}</span>
        <div class="character-reminder">{{ character.other_night_reminder }}</div>
      </div>

      {%- if not loop.last %}
        <div class="line-nightinfo"></div>
      {%- endif %}
    {%- endfor %}

  </body>
</html>
