<div class="full-page">
  <div class="first-night">
    <h2 class="simple-first-night">First Night</h2>
    {%- for character in first_night %}
      <div class="character-block character-block-nightinfo">
        <img src="{{character.remote_image}}" alt="{{ character.name }}" class="character-icon-nightinfo"/>
        <span class="character-name character-name-{{ character.team }}">{{ character.name }}</span>
      </div>
    {%- endfor %}
  </div>

  <div class="other-nights">
    <h2 class="simple-first-night">Other Nights</h2>
      {%- for character in other_nights %}
        <div class="character-block character-block-nightinfo">
          <img src="{{character.remote_image}}" alt="{{ character.name }}" class="character-icon-nightinfo"/>
          <span class="character-name character-name-{{ character.team }}">{{ character.name }}</span>
        </div>
      {%- endfor %}
  </div>

    {% if hate_pair or travelers or fabled %}
      <div class="centered-div">
      {%- if hate_pair %}
        {%- for tag, reason in hate_pair |dictsort %}
            <div class="jinx-simple-night-icon">
              {%- set slugs = tag.split("-") %}
              {%- for slug in slugs %}
                <img src="{{role_data.get_role(slug).remote_image}}" alt="{{ reason }}" class="night-icon"/>
              {%- endfor %}
            </div><!-- end of jinx-simple-night-icon -->
              <div class="jinx-simple-night-reason">{{ reason }}</div>
        {%- endfor %}
      {%- endif %}

      {%- if travelers %}
        <div class="line-pretraveler-nightinfo"></div>
        {%- for role in travelers %}
            <div class="traveler-reminder-block">
              <img src="{{role.remote_image}}" alt="{{ role.slug_id }}" class="night-icon traveler-night-icon"/>
              <span class="character-name character-name-night character-name-{{ role.team }}">{{ role.name }}</span>
              <span class="traveler-night-ability">{{ role.ability }}</span>
            </div><!-- end of traveler-reminder-block -->
        {%- endfor %}
      {%- endif %}

      {%- if fabled %}
        <div class="line-pretraveler-nightinfo"></div>
        {%- for role in fabled %}
            <div class="traveler-reminder-block">
              <img src="{{role.remote_image}}" alt="{{ role.slug_id }}" class="night-icon traveler-night-icon"/>
              <span class="character-name character-name-night character-name-{{ role.team }}">{{ role.name }}</span>
              <span class="traveler-night-ability">{{ role.ability }}</span>
            </div><!-- end of traveler-reminder-block -->
        {%- endfor %}
      {%- endif %}
      </div><!-- end of centered div -->
    {% endif %}
</div><!-- end of full page -->
