@page {
  size: A4;
  margin: 5mm;
}
body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 8pt;
  color: #ff0;
  margin-left: 20px;
}
h1.script-title {
  font-family: 'Alegreya Sans SC', 'Courier New', sans-serif;
  font-size: 18pt;
  font-weight: 900;
  color: #000;
  text-align: right;
}
h2.character-type {
  position: absolute;
  left: 0;
  transform: rotate(90deg) translateX(-20%);
  transform-origin: left;
  padding: 1px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 18px;
  white-space: nowrap;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-weight: 900;
}
.character-type-outsider,
.character-type-townsfolk {
  color: #00f;
  border-top: 2px solid #00f;
}
.character-type-demon,
.character-type-minion {
  color: red;
  border-top: 2px solid red;
}
.character-name-outsider,
.character-name-townsfolk {
  color: #00f;
}
.character-name-demon,
.character-name-minion {
  color: red;
}
.character-name {
  font-family: 'Fira Sans', 'Courier New', sans-serif;
  font-size: 10pt;
  font-weight: 800;
}
.character-name- {
  color: #000;
}
.character-ability {
  font-family: 'Fira Sans', 'Courier New', sans-serif;
  font-size: 9pt;
  font-weight: 300;
  color: #000;
}
.character-ability-reminder {
  font-family: 'Fira Sans', sans-serif;
  font-size: 8pt;
  font-weight: 200;
  color: #708090;
}
.character-reminder {
  font-family: 'Fira Sans', sans-serif;
  font-size: 8pt;
  color: #000;
  margin-top: 5px;
}
.character-icon {
  width: 50px;
  max-height: 50px;
  float: left;
  border: none;
  margin-right: 2px;
}
.jinx-reminder-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-top: 15px;
  width: 100%;
}
.jinx-reminder-block {
  display: flex;
  align-items: center;
  margin-bottom: -2px;
}
.jinx-night-icon {
  width: 40px;
  max-height: 40px;
  border: none;
}
.jinx-night-reason {
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  white-space: normal;
  max-width: 50%;
  padding-left: 10px;
  color: brown;
}
.jinxes {
  float: right;
  flex-direction: row;
  vertical-align: middle;
  justify-content: flex-end;
  padding: 2px;
  border-top: 1.5px solid brown;
  font-family: 'Alegreya Sans SC', sans-serif;
}
.hatred-icon {
  max-width: 30px;
  height: 30px;
  border: none;
  margin-left: 0;
  margin-right: -8px;
  vertical-align: bottom;
}
.jinxes-label-text {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 8pt;
  color: brown;
  margin-right: -3px;
}
.character-icon-nightinfo {
  width: 40px;
  max-height: 40px;
  float: left;
  border: none;
  margin-right: 2px;
  display: inline-flex;
  margin-top: auto;
  margin-bottom: auto;
}
.character-block {
  border: none;
  margin-top: 2px;
  margin-bottom: 2px;
  break-inside: avoid-column;
}
.character-block-player {
  min-height: 55px;
}
.character-block-nightinfo {
  min-height: 40px;
}
.cols-2 {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}
.line {
  flex: 1;
  border-bottom: 0.5px solid #a9a9a9;
  margin-bottom: 2px;
}
.line-prejinx-nightinfo {
  flex: 1;
  border-bottom: 3px double #a9a9a9;
  margin-bottom: 2px;
}
.line-nightinfo {
  flex: 1;
  border-bottom: 0.5px solid #d3d3d3;
  margin-bottom: 2px;
}
div.not-first-night {
  position: absolute;
  left: 50%;
  bottom: 1%;
  transform: translateX(-50%);
  color: #000;
  font-family: 'Fira Sans', sans-serif;
  font-size: 8pt;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: #2f4f4f;
  color: #fff;
}
.top-left-header {
  padding-left: 10px;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 8px;
}
.top-right-header {
  font-size: 8px;
  padding-right: 10px;
  font-family: 'Alegreya Sans SC', sans-serif;
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: #000;
  font-family: 'Fira Sans', sans-serif;
  position: fixed;
  bottom: 15px;
  left: 0;
  right: 0;
  padding: 0 10px;
}
footer .footer-left {
  left: 0;
  font-size: 8px;
  margin-left: 10px;
}
footer .footer-right {
  right: 0;
  font-size: 8px;
}
