@page {
  margin-top: 5mm;
  margin-bottom: 5mm;
  margin-left: 12mm;
  margin-right: 12mm;
  size: A5 landscape;
  background-color: white;
}
body {
  color: #ff0;
  font-family: 'Fira Sans', sans-serif;
  font-size: 8pt;
  margin-left: 20px;

  height: 100vh;
  width: 100vw;
}
div.not-first-night {
  bottom: 1%;
  color: #000;
  font-family: 'Fira Sans', sans-serif;
  font-size: 8pt;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.full-page {
  position: absolute;
  top: 5mm;
  left: 12mm;
  right: 12mm;
  bottom: 5mm;
}

.left-side {
  margin-left: -20px; /* Adjust this value to match the column gap */
  top: 0;
  left: 0;
  position: absolute;
  width: 50%;
}

.right-side {
  transform: rotate(180deg);
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
}

footer .footer-left {
  font-size: 8px;
  left: 0;
  margin-left: 10px;
}
footer .footer-right {
  font-size: 8px;
  right: 0;
}
footer {
  align-items: flex-start;
  bottom: 15px;
  color: #000;
  display: flex;
  font-family: 'Fira Sans', sans-serif;
  justify-content: space-between;
  left: 0;
  padding: 0 10px;
  position: fixed;
  right: 0;
}
h1.script-title {
  color: #000;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 18pt;
  font-weight: 900;
  text-align: right;
}
h2.character-type {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 18px;
  font-weight: 900;
  left: 0;
  padding: 1px;
  padding-left: 8px;
  padding-right: 8px;
  position: absolute;
  transform: rotate(90deg) translateX(-20%);
  transform-origin: left;
  white-space: nowrap;
}
h2.simple-first-night {
  color: #000;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 18pt;
  font-weight: 900;
  border-bottom: 1.5px solid #000;
}

header {
  align-items: flex-start;
  background-color: #2f4f4f;
  color: #fff;
  display: flex;
  justify-content: space-between;
}
.character-ability {
  color: #000;
  font-family: 'Fira Sans', sans-serif;
  font-size: 9pt;
  font-weight: 300;
}
.character-ability-reminder {
  color: #708090;
  font-family: 'Fira Sans', sans-serif;
  font-size: 8pt;
  font-weight: 200;
}
.character-block {
  border: none;
  break-inside: avoid-column;
  margin-bottom: 2px;
  margin-top: 2px;
}
.character-block-nightinfo {
  min-height: 40px;
}
.character-block-player {
  min-height: 55px;
}
.character-icon {
  border: none;
  float: left;
  margin-right: 2px;
  max-height: 50px;
  width: 50px;
}
.character-icon-nightinfo {
  border: none;
  display: inline-flex;
  float: left;
  margin-bottom: auto;
  margin-top: auto;
  max-height: 40px;
  padding-right: 5px;
  width: 40px;
}
.character-name {
  font-family: 'Fira Sans', sans-serif;
  font-size: 10pt;
  font-weight: 800;
}
.character-name- {
  color: #000;
}
.character-name-night {
  font-size: 8pt;
  padding-right: 3px;
}
.character-name-demon,
.character-name-minion {
  color: red;
}
.character-name-outsider,
.character-name-townsfolk {
  color: #00f;
}
.character-name-fabled {
  color: #ff844a;
}
.character-name-traveler {
  color: #804141;
}
.character-reminder {
  color: #000;
  font-family: 'Fira Sans', sans-serif;
  font-size: 8pt;
  margin-top: 5px;
}
.character-type-demon,
.character-type-minion {
  border-top: 2px solid red;
  color: red;
}
.character-type-outsider,
.character-type-townsfolk {
  border-top: 2px solid #00f;
  color: #00f;
}
.character-type-jinx {
  color: #af6e4c;
}
.character-type-fabled {
  color: #ff844a;
}
.character-type-traveler {
  color: #804141;
}
.cols-2 {
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-gap: 20px;
  column-gap: 20px;
}
.hatred-icon {
  border: none;
  height: 30px;
  margin-left: 0;
  margin-right: -8px;
  max-width: 30px;
  vertical-align: bottom;
}

.night-icon {
  border: none;
  max-height: 40px;
  width: 40px;
}
.traveler-night-icon,
.fabled-night-icon {
  border: none;
  display: inline-flex;
  float: left;
  margin-bottom: auto;
  margin-top: auto;
  height: 30px;
  padding-right: 5px;
  max-width: 30px;
}
.jinx-night-reason {
  color: #af6e4c;
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  max-width: 50%;
  padding-left: 15px;
  white-space: normal;
}
.traveler-night-ability {
  color: #af6e4c;
  /*
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  max-width: 50%;
  padding-left: 15px;
  white-space: normal;*/
}
.fabled-night-ability {
  color: #ff844a;
  /*
  display: inline-block;
  font-family: 'Fira Sans', sans-serif;
  max-width: 50%;
  padding-left: 15px;
  white-space: normal;*/
}
.jinx-reminder-block {
  align-items: center;
  display: flex;
  margin-bottom: -2px;
  break-inside: avoid-column;
}
.traveler-reminder-block,
.fabled-reminder-block {
  border: none;
  break-inside: avoid-column;
  margin-bottom: 2px;
  margin-top: 2px;
  vertical-align: top;
  min-height: 30px;
}
.jinx-reminder-wrapper {
  align-items: center;
  border: none;
  display: flex;
  justify-content: center;
  margin-top: 15px;
  width: 100%;
}
.jinxes {
  border-top: 1.5px solid #af6e4c;
  flex-direction: row;
  float: right;
  font-family: 'Alegreya Sans SC', sans-serif;
  justify-content: flex-end;
  padding: 2px;
  vertical-align: middle;
}
.jinxes-label-text {
  color: #af6e4c;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 8pt;
  margin-right: -3px;
}
.line {
  border-bottom: 0.5px solid #a9a9a9;
  flex: 1;
  margin-bottom: 2px;
}
.line-nightinfo {
  border-bottom: 0.5px solid #d3d3d3;
  flex: 1;
  margin-bottom: 2px;
}
.line-prejinx-nightinfo {
  border-bottom: 3px double #a9a9a9;
  flex: 1;
  margin-bottom: 2px;
}
.line-pretraveler-nightinfo {
  border-bottom: 3px double #a9a9a9;
  flex: 1;
  padding-top: 5px;
  margin-bottom: 2px;
}
.line-prefabled-nightinfo {
  border-bottom: 3px double #a9a9a9;
  flex: 1;
  padding-top: 5px;
  margin-bottom: 2px;
}
.top-left-header {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 8px;
  padding-left: 10px;
}
.top-right-header {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 8px;
  padding-right: 10px;
}
