@page {
  size: A4;
  margin: 5mm;
}

@font-face {
  font-family: botc-regular;
  src: url('../fonts/FiraSans/FiraSans-Regular.ttf');
}

@font-face {
  font-family: botc-light;
  src: url('../fonts/FiraSans/FiraSans-Light.ttf');
}

@font-face {
  font-family: botc-lightitalic;
  src: url('../fonts/FiraSans/FiraSans-LightItalic.ttf');
}

@font-face {
  font-family: botc-bold;
  src: url('../fonts/FiraSans/FiraSans-Bold.ttf');
}

@font-face {
  font-family: botc-book;
  src: url('../fonts/FiraSans/FiraSans-Book.ttf');
}

@font-face {
  font-family: botc-semibold;
  src: url('../fonts/FiraSans/FiraSans-SemiBold.ttf');
}

@font-face {
  font-family: botc-ultra;
  src: url('../fonts/FiraSans/FiraSans-Ultra.ttf');
}

body {
  font-family: botc-regular, sans-serif;
  font-size: 8pt;
  color: black;
  margin-left: 20px;
}

h1.script-title {
  font-family: botc-ultra, sans-serif;
  font-size: 18pt;
  color: black;
  text-align: right;
}

h2.character-type {
  position: absolute;
  left: 0;
  transform: translateY(250%) rotate(-90deg);
  transform-origin: left;
  padding: 5px;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  white-space: nowrap;
  font-family: botc-semibold, sans-serif;
}

.character-type-townsfolk,
.character-type-outsider {
  color: blue;
}

.character-type-minion,
.character-type-demon {
  color: red;
}

.character-name-townsfolk,
.character-name-outsider {
  color: blue;
}

.character-name-minion,
.character-name-demon {
  color: red;
}

.character-name {
  font-family: botc-semibold, sans-serif;
  font-size: 10pt;
}

.character-ability {
  font-family: botc-light, sans-serif;
  font-size: 9pt;
  color: black;
}

.character-ability strong {
  font-family: botc-semibold, sans-serif;
  font-size: 9pt;
  color: black;
}

.character-ability-reminder {
  font-family: botc-lightitalic, sans-serif;
  font-size: 6pt;
  color: darkgray;
}

.character-reminder {
  font-family: botc-book, sans-serif;
  font-size: 8pt;
  color: black;
  margin-top: 5px;
}

.character-icon {
  width: 50px;
  max-height: 50px;
  float: left;
  border: none;
  margin-right: 2px;
}

.character-icon-nightinfo {
  width: 40px;
  max-height: 40px;
  float: left;
  border: none;
  margin-right: 2px;
  display: inline-flex;
  margin-top: auto;
  margin-bottom: auto;
}

.character-block {
  border: none;
  margin-top: 2px;
  margin-bottom: 2px;
  break-inside: avoid-column;
}

.character-block-player {
  min-height: 55px;
}

.character-block-nightinfo {
  min-height: 40px;
}

.cols-2 {
  -moz-column-count: 2;
  -moz-column-gap: 20px;
  -webkit-column-count: 2;
  -webkit-column-gap: 20px;
  column-count: 2;
  column-gap: 20px;
}

.line {
  flex: 1;
  border-bottom: 0.5px solid black;
  margin-bottom: 3px;
}

.line-nightinfo {
  flex: 1;
  border-bottom: 0.5px solid lightgray;
  margin-bottom: 2px;
}

div.not-first-night {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}
div.not-affiliated {
  position: absolute;
  right: 0%;
  bottom: 1%;
  font-family: botc-light, sans-serif;
  font-size: 7px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: darkslategrey;
  color: white;
}

.top-left-header {
  padding-left: 10px;
  font-family: botc-semibold, sans-serif;
  font-size: 8px;
}

.top-right-header {
  font-size: 8px;
  padding-right: 10px;
  font-family: botc-ultra, sans-serif;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: none;
  color: black;
  font-family: botc-light, sans-serif;
}

footer .footer-left {
  font-size: 8px;
}

footer .footer-right {
  font-size: 8px;
}
