{# if we have easyprint OR sample #}
{% if multipage_activated %}
    {% set copies_needed = script_options.player_count %}
    {% else %}
    {% set copies_needed = 1 %}
{% endif %}

{% for i in range(copies_needed) %}
    {% set the_loop = loop %}

    {% include "player-reference.jinja" %}
    {% include "player-reference-back-or-nothing.jinja" %}
{% endfor %}
