{# we care about being double-sided BEFORE we care about being multipage #}
{# we know we ALWAYS want a page break then _something_ with 2-sided #}

{%- if script_options.double_sided -%} {# double-sided is activated #}
  <p style="page-break-before: always" ></p>
  {%- if script_options.player_night_order %} {# we DO want player order shared #}
    <!-- a simplified night order for players to see-->
    {% include "simple-night-order.jinja" %}
  {%- else -%} {# blank page required #}
  <div class="blank-page-qr-code">
    <img src="file://{{template_folder}}/images/qrcode-arcane-scripts-4mpd96.png" alt="QR Code">
  </div>
  {%- endif -%}
{%- endif -%}
