---
name: Auto Assign to Project(s)

# yamllint disable-line rule:truthy
on:
  issues:
    types: [opened, labeled]
  pull_request:
    types: [opened, labeled]
  issue_comment:
    types: [created]
env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  MY_GITHUB_TOKEN: ${{ secrets.CHISEL_GITHUB_TOKEN }}

jobs:
  add-to-project:
    name: Add issue to project
    runs-on: ubuntu-latest
    steps:
      - uses: actions/add-to-project@v0.5.0
        with:
          # You can target a project in a different organization
          # to the issue
          project-url: https://github.com/users/chizmw/projects/1
          github-token: ${{ secrets.CHISEL_GITHUB_TOKEN }}
