---
name: Create Release

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
    paths-ignore:
      - '**/generated/**'
      - '**/.changes/unreleased/**'
      - '**/.changes/*md'
      - '**/README.md'
      - '**/CHANGELOG.md'
      - '**/pyproject.toml'
    tags-ignore:
      - '**'

permissions:
  contents: write

jobs:
  debug-event:
    runs-on: ubuntu-latest
    steps:
      - name: Dump Event
        shell: bash
        run: |
          echo "Event Name: ${{ github.event_name }}"
          echo "Event Path: ${{ github.event_path }}"
          cat ${{ github.event_path }}
  create-release:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Setup Poetry
        uses: abatilo/actions-poetry@v2
        with:
          poetry-version: 1.4.2

      - uses: de-vri-es/setup-git-credentials@v2
        with:
          credentials: ${{secrets.CHISEL_GITHUB_TOKEN}}

      - name: Checkout
        uses: actions/checkout@v3
        with:
          # yamllint disable-line rule:line-length
          ref: ${{ github.event.pull_request.head.ref || github.event.repository.default_branch }}
          fetch-depth: 0
          token: ${{ secrets.CHISEL_GITHUB_TOKEN }}

      - name: Install changie
        shell: bash
        run: |
          go install github.com/miniscruff/changie@v1.12.0
          $HOME/go/bin/changie --version
          echo "$HOME/go/bin" >> $GITHUB_PATH

      - name: Make Release
        shell: bash
        # yamllint disable rule:line-length
        run: |
          git config user.name "$(git log -n 1 --pretty=format:%an)"
          git config user.email "$(git log -n 1 --pretty=format:%ae)"

          make release

          export RELEASE_VERSION="$(poetry version --short)"
          echo RELEASE_VERSION="${RELEASE_VERSION}" >> $GITHUB_ENV
          cat .changes/${RELEASE_VERSION}.md |tail +3 > ${{ github.workspace }}-CHANGELOG.txt
        # yamllint enable rule:line-length

      - name: Check Release
        shell: bash
        run: |
          echo "Release Version: $RELEASE_VERSION"
          echo "Release Changelog:"
          cat ${{ github.workspace }}-CHANGELOG.txt

      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          body_path: ${{ github.workspace }}-CHANGELOG.txt
          draft: false
          prerelease: false
          tag_name: v${{ env.RELEASE_VERSION }}
          name: v${{ env.RELEASE_VERSION }}
